.feed-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .feed{
        max-width: 300px;
        width: 100%;

        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

        }

        .post{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-inline: 0.5rem;
            background-color: rgb(60, 27, 27);
            padding-block: 0.5rem;

            .like{
                color: red;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .img-wrapper{
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid rgba(0, 0, 0, 0);
                    background: conic-gradient(from 45deg, rgb(255, 102, 0),rgb(105,0, 128),rgb(255,102,0)) border-box
                }
                img{
                    width: 2rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }

            .icons{
                display: flex;
                justify-content: space-between;

                .left{
                    display: flex;
                    gap: 0.75rem;
                }

                svg{
                    width: 1rem;
                    aspect-ratio: 1/1;
                    color: white;
                }
                
                button{
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }

            img{
                width: 100%;
            }
        }
    }
}